body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main {
  margin: 3%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

.box {
  display: block flex;
  text-decoration: none;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  padding: 20px;
  border: 5px solid #363636;
  border-radius: 20px;
  background-color: #fac0c0;
  color:black;
  justify-content: center;
  align-items: center;
  gap: 25%;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
  font-family: Jost;
  width: 75%;
}

.box:hover{
  background-color:#ff8f8f;
  box-shadow: 10px 10px 5px 3px rgba(0,0,0,0.68);
  transition: 0.5s;
}